.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: url("https://t3.ftcdn.net/jpg/01/88/91/88/360_F_188918855_qzGXMlB9p2jX3CNpN1rY6hv1s6CSsu2Z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.reactImgLeft {
  width: 80px;
  padding-top: 20px;
  padding-right: 30px;
}
.reactImgRight {
  width: 80px;
  padding-top: 20px;
  padding-left: 30px;
}
.header {
  /* border: 4px solid whitesmoke; */
  font-family: "consolas", monospace;
  text-align: center;
  font-size: 100px;
  color: whitesmoke;
  background-color: black;
  /* border: 4px solid; */
  position: sticky;
  width: 100%;
  padding: 20px
}
.formDirections {
  padding-top: 15px;
  color: white;
  text-align: center;
  color: white;
  text-shadow: black 2px 0 8px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 25px;
  text-shadow: yellow 2px 0 8px;

}

input {
  display:flex;
  justify-content: center;
  box-sizing: border-box;
  width: 80%;
  padding: 15px 10px;
  border: 4px solid grey;
  border-radius: 10px;
}

input[type="text"] {
  padding-top: 20px;
  margin: 0 auto;
  width: 1000px;
  margin-top: 10px;

  /* margin: 10px; */
  /* margin-left: 100px;  */
  box-sizing: border-box;
}
.addWorkoutbtnContainer {
  position: relative;
  height: 200px;

  /* padding-top: 40px; */
}
 
.addWorkoutBtn {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 50%);
  position: absolute;  
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  border: solid;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.addWorkoutBtn:hover {
  text-shadow: yellow 2px 0 8px;  
  background-color: grey;
}
.addWorkout {
  margin-top: 35px;
  background-color: black;
  height: 60vh;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  border-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://t3.ftcdn.net/jpg/01/88/91/88/360_F_188918855_qzGXMlB9p2jX3CNpN1rY6hv1s6CSsu2Z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.workoutList {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  color: whitesmoke;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-size: contain; */
}
.workoutRowLeft {
  padding-left: 40px;
  margin-bottom: 25px;
}

.listBtnContainer {
  float: left;
  width: 100%;
}

.listBtnContainer button {
  border-radius: 10px;
  border: solid;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  width: 33.3%;
}
.listBtnContainer button:hover {
  text-shadow: yellow 2px 0 8px;  
  background-color: grey;

}

.workout {
  height: 400px;
  width: 1400px;
  text-align: right;
  margin-left: 35px;
  margin-bottom: 100px;
  border: solid;
  border-color: black;
}
.exerciseDetailsContainer {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  align-items: flex-start;

}
.exerciseName {
  /* display: flex; */
  flex-direction: column;
  padding-left: 25px;
  align-items: flex-start;
  justify-content: left;

}
.timeOfWorkout {
  padding-left: 25px;
}
.repsNSets {
  padding-left: 25px;
}
.rpe {
  padding-left: 25px;
}

.footer {
  font-size: 35px;
  font-family: "consolas", monospace;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  border: 4px solid whitesmoke;
  color: white;
  text-align: center;
}
